

#currpage {
    background-color:#096250;
}


#google {
       
        font-family: 'Cabin', sans-serif;
        font-weight: 100;
}


.prove {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}


.for-class p {
    font-family: 'Courier New', Courier, monospace;


}

.for-class .hello {

    font-weight: 300;
}


.for-class .goodbye{

    background-color: rgb(236, 178, 178);
}

.for-class .why {

    text-align: right;
}


div.more-selectors ul {

    margin: 1fr;
}

ul li.adjust {

    color:brown;
}

div.more-selectors p {

    color: green;
}


.grid-container.about-lauren{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-right: 5%
    
    
  }

  .grid-container.about-lauren>div {
   
    text-align: left;
    padding:20px 0;
    font-size: 30px;
  }


  a.micro{
    grid-template-columns: .5fr .5fr;
    /* Why didn't this work? I'm trying to have each picture take up half of the column. */

  }

  .more-selectors {
      margin: 10%;

  }

  #need {
      color: brown;
  }

  img.microphone {

    width: 49%;
    display: inline-block!important;

  }

  img.microphone.side-pat{

    padding: 0 0 0 5%;
  }


  /* body:after {
    content: "less than 320px";
    font-size: 300%;
    font-weight: bold;
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    background-color: hsla(1,60%,40%,0.7);
    color: #fff;
} */

.invisible{
    display: none;
}

.fit{

    width: 100%
}

.fit-half{
    width: 49%
}

#index{
    background: #096250
}

.less-space{
    padding: 0px;
    margin: -5%;
}

.no-pad{
    padding:0;
    margin: 0%;

}


.text-white{
    color: white;
}

.text-white-bold{
    color: white;
    font-weight: bold;
}

a.text-white:hover{
    color: #212529;
}

/* 

@media only screen and (min-width: 320px) {
    body:after {
        content: "320 to 480px";
        background-color: hsla(90,60%,40%,0.7);
    }
    h1 {}
}
@media only screen and (min-width: 480px) {
    body:after {
        content: "480 to 768px";
        background-color: hsla(180,60%,40%,0.7);
    }
}
@media only screen and (min-width: 768px) {
    body:after {
        content: "768 to 1024px";
        background-color: hsla(270,60%,40%,0.7);
    }
}
@media only screen and (min-width: 1024px) {
    body:after {
        content: "1024 and up";
        background-color: hsla(360,60%,40%,0.7);
    } 
}*/

@media only screen and (min-width: 320px) {

    .grid-container.resize{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        padding-top: 10vh;
        padding-right: 5%;  

    }
    
    .grid-container.management-tips{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        padding-top: 10vh;

    }
    



    .grid-item padding {
        padding-top: 15%
    }

    .grid-item padding extra{

        padding-top: 15%
        /* Why isn't this working to add padding on the top of #1 */
    }
    
    h1{
        padding-right: 50px;
    }  

    /* How do I get this to work??? */

  }


  @media only screen and (orientation: landscape and min-width 1024px) {
    .grid-container.management-tips{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 50px;
        padding-top: 10vh;
        }
 
    .grid-container.about-lauren{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding-right: 5%  
        }

    .grid-container.resize{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-gap: 50px;
        padding-top: 10vh;
        padding-right: 5%;  

    }

  }

@media only screen and (min-width: 1024px) {

    

  .grid-container.management-tips{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
    padding-top: 10vh;
    padding-right: 5%;  
  }


  .grid-container.about-lauren{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-right: 5%;   
    }
    

    .grid-container.resize{
        display: grid;
        grid-template-columns: 2fr 1.3fr;
        grid-gap: 50px;
        padding-top: 10vh;
        padding-right: 5%;  

    }



  /* #main {
    margin-top: 100px;
} */


  h1{
     padding-top: 10%; 
     
  }

  
}



a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:9999999;
}

iframe.background{ 
    background-color: white
}

.toggler { position: relative; }
#effect { width: 340px; padding: 0.4em; position: relative; background: #fff; }





@media (inverted-colors: inverted) {
    a, h1, h2, p {
      background: black;
      color: yellow;
    }
  }